body
{
  color: #ffffff;
  background:cornflowerblue ;
}
span
{
  font-size: 30px;
}
#camera , #results
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#resultEmo ,#resultEmo2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading {
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 8px;
}

label {
  font-size: 16px;
  color:blueviolet;
}